@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');



.App {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: row;
    background: url(../public/bg.jpg);
}
.quote {
    background-size: cover;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.quote h1{
    color: bisque;
}
.quote h2 {
    font-size: 2em;
    color: wheat;
    font-family: 'Jim Nightshade', cursive;
}
.quote small {
    font-size: 1.5em;
    font-family: 'Dancing Script';
    align-items: left;
}
.btn {
	display: block;
	border: 2px solid #008CBA;
	background: transparent;
	padding: 10px 15px;
	color: #008CBA;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition: background 1s, color 1s;
}
.btn:hover{
	background: #008CBA;
	color: #fff;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}